* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {border: darkgoldenrod solid 5px; padding: 2rem;}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    border: plum solid 3px;
}

article {
    border: darkcyan solid;
    width: 60px;
    height: 60px;
    background: darkgrey;
}

.start {align-self: start;}
.center {align-self: center;}
.end {align-self: end;}
#s1 {justify-self:  start;}
#s2 {justify-self:  center;}
#s3 {justify-self:  end;}
#c1 {justify-self:  start;}
#c2 {justify-self:  center;}
#c3 {justify-self:  end;}
#e1 {justify-self:  start;}
#e2 {justify-self:  center;}
#e3 {justify-self:  end;}