* {box-sizing: border-box; margin: 0; padding: 0;}
header, nav, main, aside, footer {border: solid 3px; border-radius: 1rem;}
nav {visibility: hidden;}
header {background: orange; height: 100px;}
#n1 {visibility: unset; margin: 1rem; font-size: 2.5rem; border: 0; background: none;}
nav, #iz {visibility: hidden; border: 0; margin: 0; height: 0;}
main {background: lightskyblue; height: 300px;}
aside {background: lightgoldenrodyellow; height: 100px;}
footer {background: violet; height: 200px;}

@media screen and (min-width: 480px) {
    body {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    nav {visibility: unset; height: 50px; border: solid 3px; background: greenyellow;}
    header nav, #n1 {visibility: hidden;}
    header, footer, nav {
        grid-column: 1/-1;
    }
    aside {height: unset;}
    main {grid-column: 1/2;}
}
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    nav {visibility: hidden;}
    header {width: 100%;}
    main {flex-grow: 9;}
    aside {flex-grow: 1;}
    #iz {visibility: unset; height: unset; border: solid 3px;}
    footer {width: 100%;}
    }
