* {box-sizing: border-box; margin: 0; padding: 0;}

body{
    border: dotted 3px #365BB0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header {
    background: #249F9F;
    margin-bottom: 5px;
    width: 100%;
}
aside {
    background: #735AC3;
    width: 25%;
}
main {
    background: #1240AB;
    width: 74%;
    padding: 1.5rem;
}
footer {
    background: #FFBD39;
    height: 75px;
    padding: 1rem;
    width: 100%;
}

#s1 { order: 1;}
#s3 { order: 3;}