* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background: wheat;
    padding: 1rem;
}

section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 50px);
    background: #324759;
}

#hero h2 {
    background: white;
    grid-area: 2/2/5/5;
    z-index: 1;
    border-radius: 1rem;
    font-size: 35px;
    padding: 10px;
    margin: 1.5rem;
    margin-left: 0px;
    margin-right: 7
    rem;
}

#hero p {
    background: goldenrod;
    grid-area: 6/2/9/5;
    z-index: 1;
    border-radius: 1rem;
    padding: 1rem;
    font-size: larger;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#hero img {
    grid-area: 2/4/8/9;
    z-index: 0;
}

#hero a {
    background: black;
    grid-area: 8/8/10/10;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    color: #ffd700;
    box-shadow: 3px 3px 5px #ffd700;
    font-size: 2rem;
    margin: 2rem;
}

#hero a:hover {
    background: white;
    color: blue;
    box-shadow: 3px 3px 5px blue;
}