body {
    border: 5px red dashed;
    padding: 1rem;
}
header {
    border: blue 5px solid;
    padding: 1rem;
}
nav {
    border: 1px dimgray solid;
    border-radius: 1.2rem;
}
ul {
    list-style: none;
    padding: 1rem;
}
li {
    display: inline;
    padding: 2.5rem;
}
nav a {
    text-decoration: none;
    color: red;
}
main {
    border: dotted teal 7px;
    padding: 1rem;
    margin: 1rem;
}
footer {
    border: orange 3px solid;
    background: cornsilk;
}
p {text-align: justify;}